* {
    font-family: Arial;
    color: rgb(0, 0, 0);
    background-color: #c2e0a8;
}

code {
    background-color: #a7c989;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 5px;
    margin-right: 5px;
    border-left: rgb(118, 180, 99) 5px solid;
    color: black;
    font-family: Consolas;
    display: inline-block;
}

li code {
    margin-right: 1px;
}

.warning {
    background-color: #a7c989;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 5px;
    margin-right: 5px;
    border-left: rgb(230, 38, 38) 10px solid;
    color: black;
    display: inline-block;
}

.actual-warning {
    padding-top: 10px; padding-bottom: 10px; font-size: 16px; font-weight: 600; padding-left: 5px;
    background-color: #a7c989;
    border-radius: 5px;
    padding-right: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    border-left: rgb(247, 214, 28) 10px solid !important;
    color: black;
    display: inline-block;
}

.fullWidth {
    width: 70vw;
    border-left: rgb(118, 180, 99) 10px solid;
}

.nav {
    width: 15vw;
    min-width: 200px;
    height: 100vh;
    background-color: #71994d;
    overflow-y: auto;
    border-bottom-right-radius: 12px;
    color: white;
}

.navElem {
    width: calc(100% - 5px);
    height: 25px;
    font-size: 1.05rem;
    line-height: 25px;
    padding-left: 5px;
    background-color: #5a7046;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-top: 3px;
    color: white;
}

.navElemIndent {
    width: calc(100% - 25px);
    padding-left: 25px;
    color: white;
}

.navElem:hover {
    background-color: #1b1d36;
    cursor: pointer;
}

.sh {
    background-color: #171931;
    font-family: Consolas;
}

.html-tag {
    color: #a2a2f3;
}

.html-attr {
    color: #c54f4f;
}

.js-keyword {
    color: #a2a2f3;
}

.js-class {
    color: #dddf6b;
}

.js-string {
    color: #c54f4f;
}